{% extends "stock/base_with_nav.html" %}

{% block nav%}
    <a class="nav-link " href="{% url 'stock:individual_stock_news' stock_ticker %}">News</a>
    <a class="nav-link " href="{% url 'stock:top_20' %}">Top 20 list</a>
{% endblock nav%}

{% block below_nav %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    
    <div class="w3-container w3-margin">
        <div class="w3-card w3-margin-top w3-round">
            <canvas id="stock_interval_price"></canvas>
        </div>

        <script>
            let price = []
            let time = []

            {% for interval in stock_interval_price %}
                time.unshift(
                    "{{interval.end_of_interval.month}}"+"/"+
                    "{{interval.end_of_interval.day}}"+" "+
                    "{{interval.end_of_interval.hour}}"+":"+
                    "{{interval.end_of_interval.minute}}"
                )

                price.unshift(Number("{{interval.price_of_the_interval}}"))
            {% endfor %}

            let html_canvas_element = document.getElementById("stock_interval_price");

            let myChart = new Chart(html_canvas_element, 
            {
                type: 'line',
                data: {
                    labels: time,
                    datasets: [{
                        label: '{{stock_ticker}}',
                        data: price,
                        borderColor: '#7ed6df',
                    }]
                },
                options: {
                    tooltips: {
                        mode: 'point',
                    }
                }      
            }
            );
        </script>
    </div>

{% endblock below_nav %}
